{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 48.27863590831486,
    "longitude": 14.310998618602753,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Linz Wohnung",
    "time_zone": "Europe/Berlin",
    "external_url": "http://62.240.154.102:31415/",
    "internal_url": null,
    "currency": "EUR",
    "country": "AT",
    "language": "de"
  }
}